[Desktop Entry]
Version=1.0
Type=Application
Name=DSHub
GenericName=Device Monitor
Comment=Monitor and control industrial devices via TCP/UDP
Icon=dshub
Exec=dshub
Terminal=false
Categories=Development;Electronics;Engineering;
Keywords=device;monitor;embedded;tcp;udp;registers;industrial;
StartupNotify=true
StartupWMClass=dshub
